
body {
  margin: 0;
  background-color: rgb(80, 183, 243);
}

#start-btn, #restart-btn {
  background-color: green;
  color: white;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px; 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#game-box {
  background-color: rgb(102, 147, 231);
  width:600px;
  height:400px;

  /* default settings for game box */
  overflow: hidden; 
  position: relative; /* this will allow elements to be positioned relative to the game-box */
  user-select: none; /* this will prevent elements from being highlighted */

  background-image: url("./images/fondo.png");
  background-position: center;
  background-size: cover;
}

#game-screen, #gameover-screen {
  display: none;
}
  