
body {
    margin: 0;
    padding: 0;
  }
  
  .calle {
    /* height: 100%;  */
    background-color: grey;
    width: 100%;
    height: 1000px;
    /* position: relative; */
    /* margin: 0; */
  }
  
  .acera {
    height: 240px;
    width: 100%;
    background-color: #e6ae38;
    position: absolute;
  }
  
  .acera.arriba {
    top: 0;
  }
  
  .acera.abajo {
    bottom: 0;
  }

  .personaje {
    width: 10%;
    height: 10%;
    position: absolute;
    top: 400px;
    left: 10px;
  }
  
  #game-screen,
  #gameover-screen {
    display: none;
  }
  