body {
  margin: 0;
  background-color: rgb(80, 183, 243);
}

#start-btn, #restart-btn, #winner-btn {
  background-color: green;
  color: white;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px; 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#game-box {
  background-color: rgb(102, 147, 231);
  width:1000px;
  height:550px;

  /* default settings for game box */
  overflow: hidden; 
  position: relative; /* this will allow elements to be positioned relative to the game-box */
  user-select: none; /* this will prevent elements from being highlighted */

  background-image: url("./images/fondo.png");
  background-position: center;
  background-size: cover;
}

#game-screen, #gameover-screen {
  display: none;
}

#timer-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#timer {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #333333;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  